.side_column {
  float: left;
  width: 45%;
}

/* Clear floats after the columns */
.other:after {
  content: "";
  display: table;
  clear: both;
}

@font-face {
font-family: "NerkoOne-Regular";
src: url("fonts/NerkoOne-Regular.eot");
src: url("fonts/NerkoOne-Regular.woff") format("woff"),
url("fonts/NerkoOne-Regular.otf") format("opentype"),
url("fonts/NerkoOne-Regular.svg#filename") format("svg");
}

body {
  font-family: "NerkoOne-Regular";
}
