.galleryHolder{
    display: grid;
    grid-template-areas: 
    "banner     banner    banner   banner  banner "
    "jumpBox    jumpBox   niceRoom niceRoom niceRoom"
    "leaves     cCake     cCake    fCoffee fCoffee"
    "cBar       cCake     cCake    fCoffee fCoffee"
    "curiosity  curiosity skyFire  skyFire lady"
    "rose       slice     slice    slice   slice  "
    "boxFall    slice     slice    slice   slice  "
    "sunset     sunset    sunset   flrceil chem   "
    "sunset     sunset    sunset   spaceB  wallHit"
    "zFox       zFox      flower   flower  illy"
    "foxTrot    foxTrot   ruins    ruins   ruins  "
    ;

    /*grid-template-rows: repeat(8, min-content); */
    grid-template-columns: repeat(5, 1fr);
}

a{
    color: #19b726;
}

.textButton{
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 20px;
}

.galleryHolder img {
    object-fit:cover;
    image-rendering: auto;
    width: 100%;
    height: 100%;

    max-height: 400px;
}

img{
    color: aqua;
    /*border: #19b726 10px solid;*/
}

.siteMapGrid{
    display: grid;
    grid-template-areas:
    "mail  mail mail radio  links"
    "photo photo game game  links"
    "mine  mine  game game  button"
    "git   mebutton  mebutton mebutton button";

    grid-template-rows: 20vh 35vh min-content min-content;
    grid-template-columns: 1fr 1.4fr 0.6fr 1fr 0.6fr;
}

.scroll{
    animation: moveBackground 10s linear 0s infinite forwards;
}

@keyframes moveBackground {
    0% {
        background-position: 0vw;
    }

    100% {
        background-position: 100vw;
    }
}

img[alt=""]{
    filter: brightness(50%);
}