
.intrests {
    display: grid;
    grid-template-areas: 
    " interests interests "
    " hobbies games "
    " hobbies games "
    " gline games "
    " shows games  "
    " hline hline "
    " animation animation "
    " aline aline"
    "books sites"
    "bline sites"
    "movies sites"
    "rline rline"
    "rand rand"
    "mline mline"
    "music music";

    grid-template-rows: repeat(15, min-content);
    grid-template-columns: 1fr 1fr;
}

@media (max-width : 6in){ /* If less than 10ins... */
    .hide4mobile{
        display: none;
    }
    .intrests{
        grid-template-areas: 
        " interests "
        " hobbies "
        " games "
        " gline "
        " shows  "
        " hline "
        " animation "
        " aline"
        "books "
        "sites"
        "bline "
        "movies "
        "rline "
        "rand "
        "mline "
        "music ";

        grid-template-rows: repeat(15, min-content);
        grid-template-columns: 1fr;
    }
}

.animationListHolder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}