
.intrests {
    display: grid;
    grid-template-areas: 
    " interests interests "
    " hobbies games "
    " hobbies games "
    " gline games "
    " shows games  "
    " hline hline "
    " animation animation "
    " aline aline"
    "books sites"
    "bline sites"
    "movies sites"
    "mline mline"
    "music music";

    grid-template-rows: repeat(13, min-content);
    grid-template-columns: 1fr 1fr;
}

.animationListHolder{
    display: grid;
    grid-template-areas: 
    " left right ";

    grid-template-rows: 100%;
    grid-template-columns: 1fr 1fr;
}